



.post-container > a > div >p {
  padding-top: 15px;
  margin-bottom: 0;
  background-color: white;
  max-height: 100px;
  overflow:hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  font-size: 12px;
  opacity: 0.6;
}

.forum-list-body > p {
  max-height: 70%;
}

.rich-container >p {
  max-height: 70px;
  overflow:hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

.rich-container > p >img {
  max-width: 50%;
  max-height:70px;
  height:70px;
  float: right;
}

.rich-container > p > (text) {
  max-width:50%;
}

.title-padding-top {
  padding-top: 5px;
}