@import url('authentication.css');

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 80%;
    max-height: 80vh;
    margin: auto;
}

.custom_container {
    margin: 50px 50px;
}