<div class="md-menu-toolbar" layout="row" layout-align="space-between center">
  <span style="margin-left: 16px;">{{$ctrl.otherUser}}</span>
  <md-button ng-click="$ctrl.toggleRight()" class="md-raised">Chat List</md-button>
</div>
<md-divider></md-divider>
<div class="md-margin" style="min-height:500px;">
  <div ng-repeat="message in $ctrl.messages" layout="column" flex >
    <div layout="column" layout-align="center end" ng-if="message.author==$ctrl.currentUser.username" style="margin-right:16px;">
      <span style="max-width:300px; border-radius:8px 8px 3px 8px; border:1px solid black; padding:5px 10px 5px 10px; word-wrap:break-word;">{{message.content}}</span>
      <small class="md-caption" style="color: #AAAAAA">{{message.timestamp |date:'MM/dd/yyyy @ h:mma'}}</small>
    </div>
    <div ng-if="message.author!=$ctrl.currentUser.username" layout="column" layout-align="center start" style="margin-left:16px;">
      <span style=" max-width:300px; border-radius:8px 8px 8px 3px; background-color:#AAAAAA; padding:5px 10px 5px 10px; word-wrap:break-word;">{{message.content}}</span>
      <small class="md-caption" style="color: #AAAAAA">{{message.timestamp |date:'MM/dd/yyyy @ h:mma'}}</small>
    </div>
  </div>
</div>
<div layout="row">
  <md-input-container layout="row" flex="95">
    <input ng-model="$ctrl.inputText" id="chat-message-input" placeholder="Write your message..."/>
  </md-input-container>
  <md-button id="chat-send" class="md-icon-button" ng-click="$ctrl.sendWebsocketMessage()" ng-disabled="!$ctrl.inputText" aria-label="send">
    <i class="fa fa-paper-plane" aria-hidden="true"></i>
  </md-button>
</div>
<md-sidenav class="md-sidenav-right" layout="column" md-whiteframe="3" flex md-component-id="right" md-disable-backdrop="$ctrl.$mdMedia('gt-sm')">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Chat list</h1>
  </md-toolbar>
  <md-content>
    <chat-list ng-if="$ctrl.updateChatList" new-chat="$ctrl.newChat"></chat-list>
  </md-content>

  <md-button ng-click="$ctrl.lockSidenav()">
    Close
  </md-button>
</md-sidenav>

