<!DOCTYPE html>
<html lang="en" ng-app="main">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-resource.js"></script>
    <link rel = "stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-rangy.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-sanitize.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.min.js'></script>
    <link rel="stylesheet" href="http://textangular.com/dist/textAngular.css" type="text/css">
    {% include 'javascript.html' %}
    <base href="/">
  </head>
  <body ng-controller="mainController">
    <md-toolbar style="background-color: #333333; height: 64px;" layout="row" layout-align="space-between center" class="main-toolbar">
      <h1 class="md-toolbar-tools" layout-align="start center">
        <md-button class="md-icon-button" ng-click="toggleNav()" ng-hide="$mdMedia('gt-md') && lock">
          <i class="material-icons">dehaze</i>
        </md-button> &nbsp
        Insect Brothers
      </h1>
      <div layout="row" layout-align="end center" style="min-height:50px;">
        <div class="float-right" style="padding-right:15px;">
          <span>
            {% if user.is_authenticated %}
<!--            {% load notifications_tags %}-->
<!--            {% register_notify_callbacks callbacks='fill_notification_badge, fill_notification_list' menu_class='notify_menu_class' %}-->
            <span class="text-uppercase" layout="row" layout-align="space-between center" style="font-size:1rem;">
<!--              <md-menu md-offset="-5 15" md-position-mode="target-right bottom">-->
<!--                <md-button class="md-icon-button" ng-click="openMenu($mdMenu, $event)">-->
<!--                  <i md-menu-origin class="fas fa-bell"></i>-->
<!--                  <md-tooltip style="z-index:1001;">Notifications</md-tooltip>-->
<!--                </md-button>-->
<!--                <md-menu-content width="6" class="notify_menu_class">-->
<!--                  <md-menu-item>View all</md-menu-item>-->
<!--                </md-menu-content>-->
<!--              </md-menu>-->
<!--              <a class="auth-panel" href="/chat/" style="margin-left:6px;s">-->
<!--                <i style="color:white;" class="fas fa-envelope"></i>-->
<!--                <md-tooltip style="z-index:1001;">Message</md-tooltip>-->
<!--              </a>-->
              <a class="auth-panel" href="/profile/">
                <i style="color:white;" class="far fa-user"></i>
                <md-tooltip style="z-index:1001;">My Profile</md-tooltip>
              </a>
              <a class="auth-panel" href="#" ng-click="logout()">
                <i style="color:white;" class="fas fa-sign-out-alt"></i>
                <md-tooltip style="z-index:1001;">Logout</md-tooltip>
              </a>
            </span>
            {% else %}
            <span style="padding-right: 1em; font-size:1rem;" layout="row" layout-align="space-between center">
              <a style="color:black; padding-right:2em;" href="/register/">
                <i style="color:white;" class="fas fa-user-plus"></i>
                <md-tooltip style="z-index:1001;">Sign up</md-tooltip>
              </a>
              <a style="color:black;" href="/login/">
                <i style="color:white;" class="fas fa-sign-in-alt"></i>
                <md-tooltip style="z-index:1001;">Login</md-tooltip>
              </a>
            </span>
            {% endif %}
          </span>
        </div>
      </div>
    </md-toolbar>
    <div layout="row" class="view-animate-container" flex>
      <md-sidenav ng-style="{ 'min-height'  : screenHeight }" flex class="md-sidenav-left"
                  md-component-id="left" md-is-locked-open="$mdMedia('gt-md') && lock" md-whiteframe="3" layout="column" layout-align="space-between">
        <md-content>
          <img src="/static/media/logo.jpeg" width="150" height="110" alt="">
          <nav class="side-nav" id="sidebar">
            <ul class="navbar-nav" style="margin-top: 50px;">

              <li class="nav-item">
                <a class="custom-nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                <a class="custom-nav-link" href="/forum/">FORUM/DISCUSSION</a>
              </li>

              <li class="nav-item">
                <a class="custom-nav-link" href="/sale/">SALE</a>
              </li>

              <li class="nav-item">
                <a class="custom-nav-link" href="/gallery/">GALLERY</a>
              </li>

              <li class="nav-item">
                <a class="custom-nav-link" href="/question/">Q&A</a>
              </li>

            </ul>
            <div class=side-nav-footer layout="row" layout-align="space-between center">
              <div>
                <a href="https://www.instagram.com/insectbrothers/" >
                  <i style="font-size:18px;" class="fab fa-instagram">
                  </i>
                </a>
                <a href="https://www.facebook.com/wwbeetlefarm">
                  <i style="font-size:18px;" class="fab fa-facebook-f">
                  </i>
                </a>
              </div>
              <div>
                <md-button class="md-icon-button" aria-label="sidenav-lock" ng-click="toggleLock()" ng-if="$mdMedia('gt-md')">
                  <i class="material-icons" ng-if="!lock" >lock</i>
                  <i class="material-icons" ng-if="lock">lock_open</i>
                </md-button>
              </div>
            </div>
          </nav>
        </md-content>

      </md-sidenav>
      <div layout="column" flex class="align-center" style="margin-top: 100px;">
        <div class="view-animate background" ng-view ng-controller="routeController">
        </div>

        <div style="margin-top: 200px;">
          <md-divider></md-divider>
          <div layout="row" layout-align="space-between center">
            <strong>Copyright &copy 2019, Insect Brothers</strong>
            <md-button href="/about/">About</md-button>
            <md-button href="/contact">Contact</md-button>
            <md-button href="/policy/">Policy</md-button>
          </div>
        </div>
     </div>
    </div>
  </body>
</html>
