<!DOCTYPE html>
<html lang="en" ng-app="main" >
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-resource.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <base href="/" />
  </head>
  <body ng-controller="mainController">
    <div class="home-header" style="margin-bottom:4em;">
      <span style="font-family: cursive;">Insect Brothers</span>
      <div class="float-right" >
        <span style="font-weight:250;">
          {% if user.is_authenticated %}
          <span class="text-uppercase" style="padding-right: 5em;">
            <span style="color:black; padding-right:2em;">Logged in as {{user.username}} </span>
            <a style="color:black;" href="#" ng-click="logout()">Logout</a>
          </span>
          {% else %}
          <span style="padding-right: 5em;">
            <a style="color:black; padding-right:2em;" href="/register/">REGISTER</a>
            <a style="color:black;" href="/login/">LOGIN</a>
          </span>
          {% endif %}
          <a class="radius-button btn btn-dark" href="/register">About us</a>
        </span>
      </div>
    </div>
    <nav class="navbar navbar-custom  sticky-top navbar-light">
      <a class="navbar-brand" href="/">
        <img src="/static/media/logo.jpeg" width="200" height="110" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <!--<md-icon class="icon_24" md-svg-icon="/static/media/forum.svg"></md-icon>-->
            <a class="custom-nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="custom-nav-link" href="/">FORUM/DISCUSSION</a>
          </li>
          <li class="nav-item">
            <a class="custom-nav-link" href="/">SALE</a>
          </li>
        </ul>
      </div>
    </nav>
    <div ng-view></div>
    {% include 'javascript.html' %}
  </body>
</html>