<div class="spaced-content" flex>
  <md-card flex class="max-length-content">
    <md-card-header layout="row">
      <md-card-header-text>
        <div class="md-title">{{$ctrl.currentForum.title}}</div>

        <div class="md-subhead">
          <i class="far fa-user" style="font-size:14px;"></i>
            By {{$ctrl.currentForum.author}}
        </div>
      </md-card-header-text>
      <div class="md-subhead">
        {{$ctrl.currentForum.created | date:'MM/dd/yyyy'}}
        <md-button class="md-icon-button" aria-label="edit"
          href="/forum/update/{{$ctrl.currentForum.id}}/"
          style="top:13px;">
          <i style="font-size:14px;" class="far fa-edit"></i>
        </md-button>
      </div>
    </md-card-header>
    <md-card-content class="overflow-text fit-picture">
      <ng-bind-html ng-bind-html="$ctrl.currentForum.content"></ng-bind-html>
    <md-card-content>
  </md-card>
</div>
