<div class="align-center">
  <form name="forumForm" layout="column">
    <md-input-container>
      <label>Title:</label>
      <input name="title" md-maxlength="50" required
        ng-model="$ctrl.forum.title" type="text">
      <div ng-messages="forumForm.title.$error" ng-show="forumForm.title.$touched">
        <div ng-message="required">Title is required</div>
        <div ng-message="md-maxlength"> Title is too long</div>
      </div>
    </md-input-container>
    <md-input-container>
      <text-angular required name="content" ng-model="$ctrl.forum.content" aria-label="rich">
      </text-angular>
      <div ng-messages="forumForm.content.$error" ng-show="forumForm.content.$touched">
        <div ng-message="required">Content is required</div>
      </div>

    </md-input-container>

  </form>
  <div layout="row" layout-align="space-between end">
    <md-button class="md-warn" aria-label="delete"
      ng-if="$ctrl.forum.id"
      ng-click="$ctrl.deleteForum()">
      delete
    </md-button>
    <div>
      <md-button class="simple-button" ng-click="$ctrl.submit()"
        ng-disabled="forumForm.$invalid" aria-label="submit">
        Submit
      </md-button>
      <md-button class="simple-button" aria-label="cancel" href="/forum/">
        Cancel
      </md-button>
    </div>
  </div>
  <p layout="row" layout-align="end center" style="color: red;" ng-if="$ctrl.errorMessage">
    <span><i class="fas fa-exclamation-triangle"></i> {{$ctrl.errorMessage}}</span>
  </p>

</div>
