<md-content class="left-margin" flex>
  <md-card>
    <md-card-content>
      <div>
        <p class="col-md-6">ID: {{$ctrl.user.username}} </p>
        <p class="col-md-6">EMAIL: {{$ctrl.user.email}} </p>
        <!-- Add input field here for the password -->
        <form>
          <div class="form-group col-md-6">
            <label for="password"> PASSWORD </label>
            <input ng-model=$ctrl.password type="password" class=form-control>
          </div>
          <div class="form-group col-md-6" >
            <label for="confirm"> CONFIRM PASSWORD: </label>
            <input ng-model="$ctrl.confirm_password" type="password" class=form-control>
          </div>
          <md-button ng-click="$ctrl.changePassword()"
            style="border: 1px solid; margin-left:15px;">
            Submit
          </md-button>
        </form>
        <span ng-if="$ctrl.message" class="col-md-6 text-success">{{$ctrl.message}}</span>
        <span ng-if="$ctrl.error" class="col-md-6 text-danger"> {{$ctrl.error}} </span>
      </div>
    </md-card-content>
  </md-card>

  <div layout="row" flex>
    <profile-component user="$ctrl.user" flex></profile-component>
  </div>
</md-content>
