<md-content class="left-margin">
  <md-card>
    <md-card-content>
      <div>
        <p class="col-md-6">ID: {{$ctrl.user.username}} </p>
        <p class="col-md-6">EMAIL: {{$ctrl.user.email}} </p>
        <!-- Add input field here for the password -->
        <form>
          <div class="form-group col-md-6">
            <label for="password"> PASSWORD </label>
            <input ng-model=$ctrl.password type="password" class=form-control>
          </div>
          <div class="form-group col-md-6" >
            <label for="confirm"> CONFIRM PASSWORD: </label>
            <input ng-model="$ctrl.confirm_password" type="password" class=form-control>
          </div>
          <md-button ng-click="$ctrl.changePassword()"
            style="border: 1px solid; margin-left:15px;">
            Submit
          </md-button>
        </form>
        <span ng-if="$ctrl.message" class="col-md-6 text-success">{{$ctrl.message}}</span>
        <span ng-if="$ctrl.error" class="col-md-6 text-danger"> {{$ctrl.error}} </span>
      </div>
    </md-card-content>
  </md-card>

  <div layout="row" flex>
    <md-card flex=>
      <md-card-title>My Posts</md-card-title>
      <md-card-content>
        <md-virtual-repeat-container style="height:500px;">
          <md-list>
            <md-divider></md-divider>
            <div md-virtual-repeat="post in $ctrl.myPosts" md-on-demand md-item-size="70">
              <md-list-item class="md-2-line" ng-if="post" layout-align="space-between center">
                <span class="md-list-item-text">
                  <h3>{{post.title}}</h3>
                  <p> {{post.created | date:'MM/dd/yyyy'}} </p>
                </span>
                <span class="md-secondary">
                   Comment count: {{post.comments.length}}
                </span>
              </md-list-item>
              <md-divider></md-divider>

            </div>
            <div ng-if="!$ctrl.myPosts.length && $ctrl.myPosts.$resolved">
              <md-subheader> You do not have any post </md-subheader>
            </div>
          </md-list>
        </md-virtual-repeat-container>
      </md-card-content>
    </md-card>
  </div>
</md-content>
