<md-card>
  <md-card-header layout="column">
    <p class="md-title"><i class="far fa-user"></i> {{$ctrl.user.username}}</p>
    <p class="md-margin">Joined on {{$ctrl.user.created_at | date: 'MM/dd/yyyy'}} </p>
    <p class="md-margin">{{$ctrl.user.tagline}}</p>
  </md-card-header>
  <md-card-content>
    <p class="md-subhead">Activities</p>
    <md-tabs md-selected="$ctrl.tabIndex" md-dynamic-height md-border-bottom>
      <md-tab label="Forum" md-on-select="$ctrl.onTabSelect()">
        <md-virtual-repeat-container style="height:800px;">
          <md-list>
            <div md-virtual-repeat="post in $ctrl.forums" md-on-demand md-item-size="70" ng-if="$ctrl.forums.length">
              <md-list-item class="md-2-line" ng-if="post"
                            href="/forum/{{post.id}}">
                <span class="md-list-item-text" flex-gt-md="100" flex="50">
                  <h3>{{post.title}}</h3>
                  <p> {{post.created | date:'MM/dd/yyyy'}} </p>
                </span>
                <span flex layout="row" layout-align="end center">
                   Comment count: {{post.comments.length}}
                </span>
              </md-list-item>
              <md-divider></md-divider>
            </div>
            <div ng-if="!$ctrl.forums.length && $ctrl.forums.$resolved && !$ctrl.hasSearched"
                 layout="column" layout-align="center center">
              You do not have any post
            </div>
            <div ng-if="!$ctrl.forums.length && $ctrl.hasSearched" flex layout="column" layout-align="center center">
              No result found
            </div>
          </md-list>
        </md-virtual-repeat-container>
      </md-tab>
      <md-tab label="Gallery" md-on-select="$ctrl.onTabSelect()">
        <md-virtual-repeat-container style="height:800px;">
          <md-list>
            <div md-virtual-repeat="post in $ctrl.galleries" md-on-demand md-item-size="70" ng-if="$ctrl.galleries.length">
              <md-list-item class="md-2-line" ng-if="post"
                            href="/gallery/{{post.id}}">
                <span class="md-list-item-text" flex-gt-md="100" flex="50">
                  <h3>{{post.title}}</h3>
                  <p> {{post.created | date:'MM/dd/yyyy'}} </p>
                </span>
                <span flex layout="row" layout-align="end center">
                   Comment count: {{post.comments.length}}
                </span>
              </md-list-item>
              <md-divider></md-divider>
            </div>
            <div ng-if="!$ctrl.galleries.length && $ctrl.galleries.$resolved && !$ctrl.hasSearched"
                 layout="column" layout-align="center center">
              You do not have any post
            </div>
            <div ng-if="!$ctrl.galleries.length && $ctrl.hasSearched" flex layout="column" layout-align="center center">
              No result found
            </div>
          </md-list>
        </md-virtual-repeat-container>
      </md-tab>
      <md-tab label="Sale" md-on-select="$ctrl.onTabSelect()">
        <md-virtual-repeat-container style="height:800px;">
          <md-list>
            <div md-virtual-repeat="post in $ctrl.sales" md-on-demand md-item-size="70" ng-if="$ctrl.sales.length">
              <md-list-item class="md-2-line" ng-if="post"
                            href="/sale/{{post.id}}">
                <span class="md-list-item-text" flex-gt-md="100" flex="50">
                  <h3>{{post.title}}</h3>
                  <p> {{post.created | date:'MM/dd/yyyy'}} </p>
                </span>
                <span flex layout="row" layout-align="end center">
                   Comment count: {{post.comments.length}}
                </span>
              </md-list-item>
              <md-divider></md-divider>
            </div>
            <div ng-if="!$ctrl.sales.length && $ctrl.sales.$resolved && !$ctrl.hasSearched"
                 layout="column" layout-align="center center">
              You do not have any post
            </div>
            <div ng-if="!$ctrl.sales.length && $ctrl.hasSearched" flex layout="column" layout-align="center center">
              No result found
            </div>
          </md-list>
        </md-virtual-repeat-container>
      </md-tab>
      <md-tab label="Q&A" md-on-select="$ctrl.onTabSelect()">
        <md-virtual-repeat-container style="height:800px;">
          <md-list>
            <div md-virtual-repeat="post in $ctrl.questions" md-on-demand md-item-size="70" ng-if="$ctrl.questions.length">
              <md-list-item class="md-2-line" ng-if="post"
                            href="/question/{{post.id}}">
                <span class="md-list-item-text" flex-gt-md="100" flex="50">
                  <h3>{{post.title}}</h3>
                  <p> {{post.created | date:'MM/dd/yyyy'}} </p>
                </span>
                <span flex layout="row" layout-align="end center">
                   Comment count: {{post.comments.length}}
                </span>
              </md-list-item>
              <md-divider></md-divider>
            </div>
            <div ng-if="!$ctrl.questions.length && $ctrl.questions.$resolved && !$ctrl.hasSearched"
                 layout="column" layout-align="center center">
              You do not have any post
            </div>
            <div ng-if="!$ctrl.questions.length && $ctrl.hasSearched" flex layout="column" layout-align="center center">
              No result found
            </div>
          </md-list>
        </md-virtual-repeat-container>
      </md-tab>
    </md-tabs>
  </md-card-content>
</md-card>
