<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Login</h1>
    <div>
      <form name="LoginForm" role="form" ng-submit="$ctrl.login()">
        <md-input-container>
          <label> Email </label>
          <input type="email" name="email" ng-model="$ctrl.email">
        </md-input-container>

        <md-input-container>
          <label>Password</label>
          <input type="password" name="password" ng-model="$ctrl.password">
        </md-input-container>
        {{error}}
        <div >
          <md-button type="submit" >Submit</md-button>
        </div>
      </form>
    </div>
  </div>
</div>