<div class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4" login-sec>
        <h1>Register</h1>
        <div>
          <form name="register" role="form" ng-submit="$ctrl.register()">
            <div class="form-group">
              <label class="text-uppercase">Email</label>
              <input type="email" class="form-control" ng-model="$ctrl.email" name="email"
                     placeholder="ex. john@bananajelly.com" required />
              <div ng-messages="register.email.$error" role="alert" ng-show="register.email.$touched">
                <div ng-message="required">* Email is required</div>
              </div>
            </div>

            <div class="form-group">
              <label class="text-uppercase">Username</label>
              <input type="text" class="form-control" ng-model="$ctrl.username"
                     placeholder="ex. bananajelly" required name="username" />
              <div ng-messages="register.username.$error" role="alert" ng-show="register.username.$touched">
                <div ng-message="required">* Username is required</div>
              </div>
            </div>

            <div class="form-group">
              <label class="text-uppercase">Password</label>
              <input type="password" class="form-control" ng-model="$ctrl.password"
                     name="password" required ng-minlength="8"/>
              <div ng-messages="register.password.$error" role="alert" ng-show="register.password.$touched">
                <div ng-message="required"> * Password is required</div>
                <div ng-message="minlength"> * Your password is too short</div>
              </div>
            </div>

            <div class="form-group">
              <label class="text-uppercase">Confirm Password</label>
              <input type="password" class="form-control" ng-model="$ctrl.confirm_password"
                     name="confirm" required/>
              <div ng-messages="register.confirm.$error" role="alert">
                <div ng-message-default> {{error}}</div>
              </div>
            </div>

            <div class="form-group float-bottom-right">
              <md-button class="btn btn-dark" type="submit" >Submit</md-button>
            </div>

            {{error}}
          </form>
        </div>
      </div>
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active imgbox">
              <img class="d-block img-fluid center-fit" src="/static/media/beetle1.jpeg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Heaven</h2>
                </div>
              </div>
            </div>
            <div class="carousel-item imgbox">
              <img class="d-block img-fluid center-fit" src="/static/media/moth.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Heaven</h2>
                </div>
              </div>
            </div>
            <div class="carousel-item imgbox" >
              <img class="d-block img-fluid center-fit" src="/static/media/beetle3.jpeg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Heaven</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>